@import 'tailwindcss';

@layer base {
	button, a {
		transition-property: color, background-color, border-color, opacity;
		transition-duration: 150ms;
		transition-timing-function: ease-in-out;
	}
}

.danmaku-note-bg {
	background: rgba(0,0,0,0.3);
	border-radius: 2px;
	padding: 1px 2px;
	pointer-events: auto !important;
}
.danmaku-note-bg:hover {
	background: rgba(0,0,0,0.6) !important;
}
